/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    width: 1130px;
    margin-bottom: 126px;
    background-color: white;
}

/* header section styles */
header{
    display: flex;
    height: 650px;
    color: white;
    background-color: #2D25A0;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.copa-head{
    width: 1150px;
    display: flex;
    justify-content: space-between;
}
.title-head{
    width: 485px;
} 
.title-head h1{
    font-size: 64px;
    font-weight: bold;
}
.title-button{
    display: flex;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    justify-content: center;
    align-items: center;
    transition: transform 2s;
}
.title-button a{
    text-decoration: none;
    color: white;
    margin-right: 8px;
}
.title-button:hover{
    background-color: seagreen;
    transform: scale(1.5);
    cursor: pointer;
}
.banner{
    width: 556px;
    height: 438px;
    display: flex;
    justify-content: center;
}
.banner img{
    width: 388px;
    height: 428px;
    margin-left: 150px;
}
/*-----------------------
   main section styles
----------------------- */
main{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
/* profiles section styles */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
}
.player{
    width: 330px;
    height: 510px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);        
    border-radius: 5px;
}
.player img{
    width: 100%;
    border-radius: 5px;
}